* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    background-color: rgb(31, 26, 41);
}

.content-container {
    margin: auto;
    width: 50%;
}
.title {
    font-size: 3vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textarea {
    width: 100%;
    max-width: 100%;
    min-width: fit-content;
    height: 300px;
    min-height: 100px;
    border-radius: 10px;
}
.btn-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.btn-container > button {
    margin-right: 15px;
    border: none;
    height: 30px;
    background-color: burlywood;
    border-radius: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1vw;
}

#save-text-file {
    margin-left: auto;
    margin-right: 0;
}
